{{- $has := includeTemplate "has" (list . "cmdLineEssentials") | fromToml -}}

[core]
	autocrlf = false
	editor = hx
	pager = {{ if $has.cmdLineEssentials -}}
		delta
		{{- else -}}
		less -FMRiX
		{{- end }}
	excludesfile = ~/.config/git/gitignore
   
[alias]
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    cfdx = clean -fdx -e *.iml
	fx = commit --fixup HEAD

[delta]
	navigate = true

[color]
	ui = auto

[diff]
	colorMoved = default
	tool = vimdiff

[include]
	path = ~/.config/git/config_local

[init]
	defaultBranch = main

[interactive]
    diffFilter = delta --color-only --features=interactive

[merge]
	conflictstyle = diff3
	tool = vimdiff

[push]
	default = simple

[pull]
	ff = only

[user]
	email = {{ .email }}
	name = Paul Shirley
