{{- $has := includeTemplate "has" (list . "cmdLineToolsCargo") | fromToml -}}

[alias]
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	cfdx = clean -fdx -e *.iml
	fx = commit --fixup HEAD

[branch]
	sort = -committerdate

[color]
	ui = auto

[column]
    ui = auto

[commit]
    verbose = true

[core]
	autocrlf = false
	editor = hx
	pager = {{ if $has.cmdLineToolsCargo -}}
		delta
		{{- else -}}
		less -FMRiX
		{{- end }}
	excludesfile = ~/.config/git/gitignore
   
[delta]
	navigate = true
	features = catppuccin-macchiato

[diff]
    algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
	tool = vimdiff

[fetch]
	prune = true
	pruneTags = true
	all = true

[help]
	autocorrect = prompt

[include]
	path = ~/.local/share/catppuccin/delta/catppuccin.gitconfig
	path = ~/.config/git/config_local

[init]
	defaultBranch = main

[interactive]
    diffFilter = delta --color-only --features=interactive

[merge]
	conflictstyle = zdiff3
	tool = vimdiff

[push]
	default = simple
	autoSetupRemote = true
    followTags = true

[pull]
	ff = only

[rerere]
	autoupdate = true
	enabled = true

[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true

[user]
	email = {{ .email }}
	name = Paul Shirley
