# Local Files not to be checked in #
*.local
*.local.*
.netrwhist
external
*.sublime*

# Ignore everything
*

# Except these files
!dotfiles/*

!powershell/profile.ps1
!powershell/PowershellModules/Admin
!powershell/PowershellModules/Environment
!powershell/PowershellModules/FileManagement

!zsh/zshrc
!bash/bashrc

!git/windows.gitconfig
!git/unix.gitconfig
!*/