# Local Files not to be checked in #
*.local
*.local.*
.netrwhist
external
*.sublime*

# Ignore everything
*

# Except these files
!powershell/profile.ps1
!powershell/PowershellModules/Admin
!powershell/PowershellModules/Environment
!powershell/PowershellModules/FileManagement
!dotfiles/*
dotfiles/setup.sh

!git/windows.gitconfig
!git/unix.gitconfig
!*/