{{- $components := list -}}
{{- if hasKey . "selectedComponents" -}}
{{-   $components = .selectedComponents -}}
{{- end -}}
{{- $profileChoices := list "minimal" "default" "all" -}}
{{- $profile := promptChoiceOnce . "profile" "Installation profile" $profileChoices -}}
{{- $personal := promptBoolOnce . "personal" "Personal Machine" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
    profile = {{ $profile | quote }}
    personal = {{ $personal }}
    email = {{ $email | quote }}
    selectedComponents = {{ includeTemplate "./home/.chezmoitemplates/tomlArray" (list $components 8) }}

[git]
    autoCommit = false
    autoPush = false
