{{- $flavourChoices := list "base" "essential" "developer" "complete" -}}
{{- $flavour := promptChoiceOnce . "flavour" "Flavour to install" $flavourChoices -}}
{{- $personal := promptBoolOnce . "personal" "Personal Machine" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $extraPackageGroups := list -}}
{{- if hasKey . "extraPackageGroups" -}}
{{-   $extraPackageGroups = .extraPackageGroups -}}
{{- end -}}

[data]
    flavour = {{ $flavour | quote }}
    personal = {{ $personal }}
    email = {{ $email | quote }}
    extraPackageGroups = {{ includeTemplate (joinPath .chezmoi.sourceDir ".chezmoitemplates/tomlArray") (list $extraPackageGroups 8) }}

[git]
    autoCommit = false
    autoPush = false

[github]
    refreshPeriod = "60m"
