{{- $antidoteVersion := (gitHubLatestTag "mattmc3/antidote").Name -}}
[".local/share/antidote"]
    type = "archive"
    url = "https://github.com/mattmc3/antidote/archive/refs/tags/{{ $antidoteVersion }}.tar.gz"
    exact = true
    stripComponents = 1
[".local/share/catppuccin/bat"]
    type = "archive"
    url = "https://github.com/catppuccin/bat/archive/refs/heads/main.tar.gz"
    exact = true
    stripComponents = 2
    include = ["**/*.tmTheme"]
    refreshPeriod = "168h"
[".local/share/catppuccin/delta"]
    type = "archive"
    url = "https://github.com/catppuccin/delta/archive/refs/heads/main.tar.gz"
    exact = true
    stripComponents = 1
    include = ["**/*.gitconfig"]
    refreshPeriod = "168h"
[".local/share/catppuccin/iterm"]
    type = "archive"
    url = "https://github.com/catppuccin/iterm/archive/refs/heads/main.tar.gz"
    exact = true
    stripComponents = 2
    include = ["**/*.itermcolors"]
    refreshPeriod = "168h"
[".local/share/catppuccin/yazi"]
    type = "archive"
    url = "https://github.com/catppuccin/yazi/archive/refs/heads/main.tar.gz"
    exact = true
    stripComponents = 3
    include = ["**/*.toml"]
    refreshPeriod = "168h"
