{{- $has := includeTemplate "has" (list . "rustToolchainStable" "rustToolchainNightly" "cmdLineEssentials") | fromToml -}}
{{- if or $has.cmdLineEssentials -}}
{{- if eq .chezmoi.os "linux" -}} 
#!/bin/zsh

set -euo pipefail

{{ template "installers.zsh" dict "ctx" . "cargo" (list "ripgrep" "zellij") "custom" (list "helixEditor") }}

{{- end -}}
{{- end -}}
