layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar" {
                tooltip "F1"
            }
        }
    }
    swap_tiled_layout name="code" {
        tab max_panes=2 {
            pane split_direction="vertical" {
                pane size="70%"
                pane size="30%"
            }
        }
        tab exact=3 {
            pane split_direction="vertical" {
                pane size="70%"
                pane size="30%" {
                    pane
                    pane
                }
            }
        }
    }
    swap_tiled_layout name="side" {
        tab split_direction="vertical" {
            pane
            pane
            pane
            pane
        }
    }
    swap_tiled_layout name="stacked" {
        tab {
            pane split_direction="vertical" {
                pane size="70%"
                pane size="30%" stacked=true {
                    pane
                    pane
                    pane
                    pane
                    pane
                    pane
                    pane
                    pane
                    pane
                }
            }
        }
    }
}
pane_frames false
