keybinds {
    unbind "Ctrl o"
    session {
        bind "Ctrl a" { SwitchToMode "Normal"; }
        bind "Ctrl q" { Quit; }
    }

    shared_except "session" "locked" {
        bind "Ctrl a" { SwitchToMode "Session"; }
    }

    // Hide move mode from normal mode
    shared_except "move" "locked" {
        unbind "Ctrl h"
    }
    shared_except "normal" "move" "locked" {
        bind "Ctrl h" { SwitchToMode "Move"; }
    }


    // Hide tmux mode from normal mode
    shared_except "tmux" "locked" {
        unbind "Ctrl b"
    }
    shared_except "normal" "tmux" "locked" {
        bind "Ctrl b" { SwitchToMode "Tmux"; }
    }

    // unbind Ctrl q
    shared_except "locked" {
        unbind "Ctrl q"
    }
}

theme "nord"
mirror_session true
default_layout "compact"
